body {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/27/22/58/tic-tacs-1420767_1280.jpg");
  background-size: cover;
}

.title {
  display: flex;
  text-align: center;
}

.square { 
  display: flex;
  margin: auto;
  border: 2px solid black;
  height: 100px;
  width: 100px; 
  justify-content: right;
}

.reset-button {
  cursor: pointer;
}
