

.title {
  display: flex;
  text-align: center;
}

.square { 
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.reset-button {
  cursor: pointer;
}
